<!--
 * @Author: your name
 * @Date: 2020-03-11 18:40:23
 * @LastEditTime: 2020-03-30 21:37:20
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /daily-practice/node/koa2/views/index.html
 -->
{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-24">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="input" name="name" class="form-control" placeholder="username">
                            <p class="help-block">Usename: admin</p>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                            <p class="help-block">Use password: 123456</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}